<h1>Welcome to Blocmarks</h1>
<p>This is the homepage of Blocmarks</p>
<p id="index-title">This is the home page for Blocmarks.</p>
<div class="posts">Post 1 goes here.</div>
<div class="posts">Post 2 goes here.</div>
<section>Section Content.</section>
